.registration-container{
   display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 160px; */
    background-image:linear-gradient(rgba(255, 0, 0, 0.425),rgba(0, 0, 255, 0.411)), url(../images/pexels-fotios-photos-16129724.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    color: #fff;
}
.container{
  
    display: flex;
    justify-content: center;
    align-items: center;

}
form {
    padding: 20px;
    gap: 1px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 20px;
}

.btn button {
    outline: 0;
    border: 0;
    background-color: green;
    color: #fff;
    padding: 20px 15px;
}


.btn button:hover{
    transition: all 0.5s ease-in;
    background-image: linear-gradient(red,green);
    /* color: #eee; */
    cursor: pointer;
}
p {
    text-align: justify;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(rgba(255, 0, 0, 0.336),rgba(255, 255, 0, 0.247)), url(../images/pexels-fotios-photos-16129724.jpg) no-repeat 100% 100%/cover;
}



.list-icon ul{
    border-top: 2px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 3px;
    list-style: none;
}
.list-icon ul li a{
    color: #fff;
    background-color: blue ;
}
.list-icon ul li a:hover{
    transition: all 0.5s ease-in;
    color: #eee;
    background-image: linear-gradient(red,yellow) ;
}
.form-h2 {
    text-align: center;
    padding: 10px;
}
form .name{
    padding-top: 10px !important;
}

.btn input{
    background-color: green;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn input:hover{
    transition: all 0.5s ease-in;
    background-image: linear-gradient(red,green);
    color: #000;
}


.name {
    display: flex;
    gap: 2px;
}

.gender{
    border: 1px solid #fff;
}

.gender h1{
    text-align: center;
}
.reg-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* margin: 200px; */
    border-right: 1px solid ;
}